@page
@model zpp_aplikacja.Pages.Models.Reward


<form asp-action="EditRewards" method="post">
    <div class="form-group">
        @Html.LabelFor(x=>x.Name)
        @Html.EditorFor(x=>x.Name)
        @Html.ValidationMessageFor(x=>x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PointsRequired)
        @Html.EditorFor(x => x.PointsRequired)
        @Html.ValidationMessageFor(x => x.PointsRequired)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description)
        @Html.EditorFor(x => x.Description)
        @Html.ValidationMessageFor(x => x.Description)
    </div>
    <button type="submit" class="btn btn-primary">Dodaj zadanie</button>
</form>